## Logistic Regression

In [94]:
import pandas as pd
import random
import plotly.offline as py
from plotly.graph_objs import *
import plotly.graph_objs as go
from pylab import * 
import cufflinks as cf
py.init_notebook_mode(connected=True)

In [95]:
data=pd.read_csv('lr_.csv')
data.shape

(10, 3)

In [96]:
data

         X1        X2  Y
0  2.781084  2.550537  0
1  1.465489  2.362125  0
2  3.396562  4.400294  0
3  1.388070  1.850220  0
4  3.064072  3.005306  0
5  7.627531  2.759262  1
6  5.332441  2.088627  1
7  6.922597  1.771064  1
8  8.675419 -0.242069  1
9  7.673756  3.508563  1

In [103]:
alpha = 0.3 
B0 = 0.0
B1 = 0.0 
B2 = 0.0
for x in range(1,21):
    for index,row in data.iterrows():
        prediction = 1 / ( 1 + math.exp( -(B0 + B1 * row['X1'] + B2 * row['X2'] ) ) )
        B0 = B0 + alpha * (row['Y'] - prediction) * prediction * (1 - prediction) * 1.0
        B1 = B1 + alpha * (row['Y'] - prediction) * prediction * (1 - prediction) * row['X1']
        B2 = B2 + alpha * (row['Y'] - prediction) * prediction * (1 - prediction) * row['X2']

In [104]:
data['Prediction'] = 0.0
for index,row in data.iterrows():
    prediction = 1 / ( 1 + math.exp( -(B0 + B1 * row['X1'] + B2 * row['X2'] ) ) )
    data.at[index,'Prediction'] = prediction

In [105]:
data.loc[data['Prediction'] < 0.5 , 'Crisp'] = 0
data.loc[data['Prediction'] > 0.5 , 'Crisp'] = 1

In [106]:
data

         X1        X2  Y  Prediction  Crisp
0  2.781084  2.550537  0    0.205162    0.0
1  1.465489  2.362125  0    0.078914    0.0
2  3.396562  4.400294  0    0.032096    0.0
3  1.388070  1.850220  0    0.142825    0.0
4  3.064072  3.005306  0    0.151745    0.0
5  7.627531  2.759262  1    0.968200    1.0
6  5.332441  2.088627  1    0.879794    1.0
7  6.922597  1.771064  1    0.983990    1.0
8  8.675419 -0.242069  1    0.999862    1.0
9  7.673756  3.508563  1    0.914672    1.0

In [107]:
CorrectPredictions = data.loc[data['Crisp'] == data['Y'] ].shape[0]
TotalPredictions = data.shape[0]

In [108]:
accuracy = CorrectPredictions/TotalPredictions * 100
accuracy

100.0