## Logistic Regression

In [71]:
import pandas as pd
import random
import plotly.offline as py
from plotly.graph_objs import *
import plotly.graph_objs as go
from pylab import * 
import cufflinks as cf
py.init_notebook_mode(connected=True)

In [72]:
data=pd.read_csv('lr_.csv')
data.shape

(10, 3)

In [73]:
data

         X1        X2  Y
0  2.781084  2.550537  0
1  1.465489  2.362125  0
2  3.396562  4.400294  0
3  1.388070  1.850220  0
4  3.064072  3.005306  0
5  7.627531  2.759262  1
6  5.332441  2.088627  1
7  6.922597  1.771064  1
8  8.675419 -0.242069  1
9  7.673756  3.508563  1

In [74]:
alpha = 0.3 
B0 = 0.0
B1 = 0.0 
B2 = 0.0
for x in range(1,11):
    for index,row in data.iterrows():
        prediction = 1 / ( 1 + math.exp( -(B0 + B1 * row['X1'] + B2 * row['X2'] ) ) )
        B0 = B0 + alpha * (row['Y'] - prediction) * prediction * (1 - prediction) * 1.0
        B1 = B1 + alpha * (row['Y'] - prediction) * prediction * (1 - prediction) * row['X1']
        B2 = B2 + alpha * (row['Y'] - prediction) * prediction * (1 - prediction) * row['X2']

In [75]:
data['Prediction'] = 0.0
for index,row in data.iterrows():
    prediction = 1 / ( 1 + math.exp( -(B0 + B1 * row['X1'] + B2 * row['X2'] ) ) )
    data.at[index,'Prediction'] = prediction

In [84]:
data.loc[data['Prediction'] < 0.5 , 'Crisp'] = 0
data.loc[data['Prediction'] > 0.5 , 'Crisp'] = 1

In [85]:
data

         X1        X2  Y  Prediction  Crisp
0  2.781084  2.550537  0    0.298757      0
1  1.465489  2.362125  0    0.145951      0
2  3.396562  4.400294  0    0.085333      0
3  1.388070  1.850220  0    0.219737      0
4  3.064072  3.005306  0    0.247059      0
5  7.627531  2.759262  1    0.954702      1
6  5.332441  2.088627  1    0.862034      1
7  6.922597  1.771064  1    0.971773      1
8  8.675419 -0.242069  1    0.999295      1
9  7.673756  3.508563  1    0.905489      1

In [92]:
CorrectPredictions = data.loc[data['Crisp'] == data['Y'] ].shape[0]
TotalPredictions = data.shape[0]

In [93]:
accuracy = CorrectPredictions/TotalPredictions * 100
accuracy

100.0